.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    /* box-shadow: 0px 1px 10px #999; */
    /* width : 100%; */
    /* margin: 0 2% 0  2%; */
    padding-right : 2%;
    margin-bottom: 2%;
    
}
.nav-items > ul {
    display:flex;
}

.nav-items > ul > li {
    padding: 15px;
    list-style-type: none;
    font-size: 20px;
    
}

.nav-items > ul > button {
    padding: 5px;
    list-style-type: none;
    font-size: 20px;
    
}

.logo{
    height:100px ;
}


.cardLink{
    text-decoration : none;
    color: black;
}

.res-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    width: 80%;
    padding: 0 10% 0 10%;
}


.res-card{
    /* background-color : #f0f0f0; */
    padding: 10px;
    /* margin: 10px; */
    height: 400px;
    width: 300px;
    border-radius:5%;
    box-sizing: border-box;
}

.res-card:hover{
    /* border: 1px solid black; */
    padding: 9px;
    transform: scale(0.97);
}


.res-logo{
    height: 200px;
    /* border: 1px black solid; */
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    /* border-radius:10%; */
}

.res-logo > img {
    width: 100%;
    /* box-sizing: border-box; */
    border-radius:10%;
    object-fit: cover;
}

.top{
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}
.top:hover{
    cursor: pointer;
}


.shimmer-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    width: 80%;
    padding: 0 10% 0 10%;
    
}

.shimmer-card{
    background-color : #f0f0f0;
    padding: 10px;
    margin: 10px;
    height: 400px;
    width: 280px;
    border-radius:10%;
    box-sizing: border-box;
}

.shimmer-logo{
    height: 150px;
    padding-left:10%;
    width:90%;
    border-radius:5%;
    /* box-sizing: border-box; */
    /* border: 1px black solid; */
    display: flex;
    justify-content: center;
    background-color: #dbd9d9;

}

.filter{
    display: flex;
    flex-direction: row;
    margin: 1%;
}

.filter > button{
    margin: 0 1% 0 1%;
    
}

.filtet > div > button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

/* ----- -----------------ResData -------------------- */

div > .res-head {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0% 20%  0%  20%;
}

.veg-filter{
    padding: 1% 20% 1% 20%;
}

.res-dish{
    padding-left: 20%;
    width:60%;
    display: flex;
    justify-content:space-between;
    min-height: 150px;
}

.res-dish > div > p {
    font-family: "Proxima Nova",Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.res-dish > div > .dish-name {
    font-size: 20px;
}

.res-dish > div > .desc{
    font-size: 13px;
    color:rgb(114, 111, 111);
}

.res-dish > .for-img > button {
    width : 110px;
    border: none;
    background: none;
    /* display:flex;
    align-items: center;
    flex-direction:  column; */
    /* position: relative; */
    display: inline-block;
}
/* .res-dish > .for-img {
    
} */

.res-dish > div > button > img{
    height: 100px;
    width : 100%;
    object-fit: cover;
    border-radius: 10%;
}

.res-dish > div > button > span{
    position: relative;
    z-index: 1;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}


hr{
    width: 60%;
    margin-bottom: 2%;
    margin-left: 20%;
    background-color:#a1a1a6;
    padding:0.5px;
    border:none;
}





